<mat-card class="recipe-card">
  <mat-card-content>
      <form class="recipe-form">
        <h1>
          <mat-form-field class="max-width">
            <input matInput placeholder="Título">
          </mat-form-field>
        </h1>

        <br>
        <app-recipe-form-item title="Ingredientes" step="Ingrediente" [values]="recipe.ingredients"></app-recipe-form-item>

        <br>
        <app-recipe-form-item title="Modo de Preparo" step="Passo" [values]="recipe.steps"></app-recipe-form-item>
            
      </form>
  </mat-card-content>
  <mat-card-actions align="right">
    <button mat-raised-button color="primary">Save</button>
    <button mat-button>Cancel</button>
  </mat-card-actions>
</mat-card>
