<mat-card class="recipe-card">
  <mat-card-content>
      <form class="recipe-form">
        <mat-form-field>
          <input matInput placeholder="Título">
        </mat-form-field>

        <br>
        <ul>
          <mat-form-field>
            <input matInput placeholder="Parte 1">
          </mat-form-field>
          <li>
            <mat-form-field>
              <input matInput placeholder="Ingrediente 1.1">
            </mat-form-field>
          </li>
          <li>
            <mat-form-field>
              <input matInput placeholder="Ingrediente 1.2">
            </mat-form-field>
          </li>
        </ul>
      
        <ul>
          <mat-form-field>
            <input matInput placeholder="Parte 2">
          </mat-form-field>
          <li>
            <mat-form-field>
              <input matInput placeholder="Ingrediente 2.1">
            </mat-form-field>
          </li>
          <li>
            <mat-form-field>
              <input matInput placeholder="Ingrediente 2.2">
            </mat-form-field>
          </li>
        </ul>
      
        <br>
        <ul>
          <mat-form-field>
            <input matInput placeholder="Preparo 1">
          </mat-form-field>
          <li>
            <mat-form-field>
              <input matInput placeholder="Passo 1.1">
            </mat-form-field>
          </li>
          <li>
            <mat-form-field>
              <input matInput placeholder="Passo 1.2">
            </mat-form-field>
          </li>
        </ul>
      
        <ul>
          <mat-form-field>
            <input matInput placeholder="Preparo 2">
          </mat-form-field>
          <li>
            <mat-form-field>
              <input matInput placeholder="Passo 2.1">
            </mat-form-field>
          </li>
          <li>
            <mat-form-field>
              <input matInput placeholder="Passo 2.2">
            </mat-form-field>
          </li>
        </ul>
      
      </form>
  </mat-card-content>
</mat-card>
