<mat-card class="recipe-card">
  <form class="recipe-form">
    <mat-card-content>
      <h1>
        <mat-form-field class="max-width">
          <input name="title" matInput placeholder="Título" [(ngModel)]="recipe.title">
        </mat-form-field>
      </h1>
      <br>
      <app-recipe-form-item title="Ingredientes" step="Ingrediente" [(values)]="recipe.ingredients"></app-recipe-form-item>
      <br>
      <app-recipe-form-item title="Modo de Preparo" step="Passo" [(values)]="recipe.steps"></app-recipe-form-item>
      <br>
      <input type="file" (change)="selectFile($event)">
    </mat-card-content>

    <mat-card-actions align="right">
      <button mat-raised-button color="primary" (click)="save()">Save</button>
      <button mat-button>Cancel</button>
    </mat-card-actions>
  </form>
</mat-card>
